body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}


.btn {
    font-size: 65px;
    width: 500px;
    height: 383px;
    margin-left: 36.5vw;
    margin-top: 10vw;
    border-radius: 76px;
    border-color: red;
    border-width: 19px;
}

.btn1 {
    font-size: 65px;
    width: 500px;
    height: 383px;
    margin-left: 36.5vw;
    margin-top: 10vw;
    border-radius: 76px;
    border-color: red;
    border-width: 19px;
}
